<a href="https://colab.research.google.com/github/L4riss4/Python/blob/main/TP_03_Projeto_de_bloco.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#TP 03 - Projeto de bloco
Integração de banco de dados SQL com Python

In [ ]:
#Importando biblioteca pandas
import pandas as pd
from tabulate import tabulate
from datetime import datetime, timedelta

In [ ]:
#Importando as tabelas geradas pelo MySQL
df_cargos = pd.read_csv('tabela_cargos.csv', sep=';', encoding='latin1')
df_departamentos = pd.read_csv('tabela_departamentos.csv', sep=';', encoding='latin1')
df_dependentes = pd.read_csv('tabela_dependentes.csv', sep=';', encoding='latin1')
df_funcionarios = pd.read_csv('tabela_funcionarios.csv', sep=';', encoding='latin1')
df_historicosalarios = pd.read_csv('tabela_historicosalarios.csv', sep=';', encoding='latin1')

#Renomeando coluna da tabela dependentes
df_dependentes = df_dependentes.rename(columns={'Nome': 'Dependente'})

#Adequando tipo de dado para formato AAAA/MM/DD
df_historicosalarios['DataSalario'] = pd.to_datetime(df_historicosalarios['DataSalario'], format='%d/%m/%Y')

#Função para tabulação de resultados
def resultado_query (df, titulo):
  print(f'{titulo} \n')
  print(tabulate(df, headers='keys', tablefmt='psql'))
  print('\n')

###Listagem individual de tabelas em ordem crescente

In [ ]:
#Ordenado por ordem alfabética
funcionarios_rows = ['FuncionarioID', 'NomeFuncionario', 'Salario', 'CargoID']
df_funcionarios_ordenado = df_funcionarios.sort_values(by='NomeFuncionario', ascending=True)
df_funcionarios_ordenado = df_funcionarios_ordenado.loc[:, funcionarios_rows]
resultado_query(df_funcionarios_ordenado, "Funcionários por ordem alfabética")

Funcionários por ordem alfabética

+----+-----------------+-------------------+-----------+-----------+
|    |   FuncionarioID | NomeFuncionario   |   Salario |   CargoID |
|----+-----------------+-------------------+-----------+-----------|
| 16 |              17 | Aline Pereira     |      4600 |         2 |
|  3 |               4 | Ana Souza         |      2600 |         4 |
| 13 |              14 | Anderson Silva    |      2800 |         4 |
| 22 |              25 | Caio Waroy        |     28000 |         6 |
|  9 |              10 | Camila Oliveira   |      1400 |         5 |
|  2 |               3 | Carlos Oliveira   |      3600 |         4 |
| 18 |              19 | Carolina Almeida  |      2900 |         4 |
| 21 |              24 | Clarisse Xavier   |     10000 |         4 |
| 20 |              23 | Eduardo Zobisch   |     30000 |         6 |
|  5 |               6 | Fernanda Lima     |      3700 |         2 |
| 19 |              20 | Gustavo Lima      |      1600 |         5 |
| 14 |              15 | Isabela Ferreira  |      1500 |         5 |
|  0 |               1 | Joao Silva        |      6000 |         1 |
|  7 |               8 | Juliana Santos    |      5500 |         1 |
|  6 |               7 | Lucas Pereira     |      4100 |         3 |
|  1 |               2 | Maria Santos      |      3800 |         2 |
| 10 |              11 | Mariana Oliveira  |      4300 |         3 |
| 12 |              13 | Patricia Souza    |      5700 |         1 |
| 15 |              16 | Paulo Costa       |      6000 |         3 |
|  4 |               5 | Pedro Costa       |      1300 |         5 |
| 11 |              12 | Rafael Santos     |      3800 |         2 |
|  8 |               9 | Roberto Almeida   |      2700 |         4 |
| 17 |              18 | Thiago Oliveira   |      6000 |         1 |
+----+-----------------+-------------------+-----------+-----------+

In [ ]:
#Ordenado por ordem alfabética de nível
df_cargos_ordenado = df_cargos.sort_values(by='Nivel', ascending=True)
resultado_query(df_cargos_ordenado, "Cargos por ordem alfabética de nível")

Cargos por ordem alfabética de nível

+----+-----------+---------------------------+---------------+---------+----------------+
|    |   CargoID | Descricao                 |   SalarioBase | Nivel   | TipoContrato   |
|----+-----------+---------------------------+---------------+---------+----------------|
|  3 |         4 | Assistente administrativo |          1900 | Junior  | CLT            |
|  4 |         5 | Estagiario                |           900 | Junior  | Estagio        |
|  1 |         2 | Desenvolvedor             |          2000 | Pleno   | CLT            |
|  2 |         3 | Analista de dados         |          4000 | Pleno   | PJ             |
|  5 |         6 | Diretor executivo         |         10000 | Pleno   | Socio          |
|  0 |         1 | Gerente                   |          5000 | Senior  | CLT            |
+----+-----------+---------------------------+---------------+---------+----------------+

In [ ]:
#Ordenado por ordem alfabética
df_departamentos_ordenado = df_departamentos.sort_values(by='NomeDepartamento', ascending=True)
resultado_query(df_departamentos_ordenado, "Departamentos por ordem alfabética")

Departamentos por ordem alfabética

+----+------------------+--------------------+---------------------+-----------------------+
|    |   DepartamentoID | NomeDepartamento   |   AndarDepartamento | ContatoDepartamento   |
|----+------------------+--------------------+---------------------+-----------------------|
|  5 |                6 | Diretoria          |                   6 | diret@empresa.com     |
|  3 |                4 | Financeiro         |                   5 | finan@empresa.com     |
|  2 |                3 | Marketing          |                   2 | mkt@empresa.com       |
|  1 |                2 | RH                 |                   4 | rh@empresa.com        |
|  0 |                1 | TI                 |                   1 | ti@empresa.com        |
|  4 |                5 | Vendas             |                   3 | vendas@empresa.com    |
+----+------------------+--------------------+---------------------+-----------------------+

In [ ]:
#Ordenado por ordem alfabética
df_dependentes_ordenado = df_dependentes.sort_values(by='Dependente', ascending=True)
resultado_query(df_dependentes_ordenado, "Dependentes por ordem alfabética")

Dependentes por ordem alfabética

+----+-----------------+----------------+-----------------+--------------+---------+
|    |   FuncionarioID |   DependenteID | Dependente      | Parentesco   |   Idade |
|----+-----------------+----------------+-----------------+--------------+---------|
|  2 |               2 |            103 | Ana Santos      | Filha        |      10 |
| 18 |              14 |            119 | Ana Silva       | Esposa       |      33 |
| 13 |               9 |            114 | Antonio Almeida | Pai          |      70 |
| 16 |              12 |            117 | Camila Santos   | Filha        |      16 |
|  6 |               4 |            107 | Carla Souza     | Esposa       |      40 |
| 21 |              17 |            122 | Daniel Pereira  | Filho        |      11 |
| 15 |              11 |            116 | Diego Oliveira  | Pai          |      68 |
| 10 |               6 |            111 | Gabriel Lima    | Marido       |      42 |
| 17 |              13 |            118 | Guilherme Souza | Filho        |      13 |
| 19 |              15 |            120 | Isabel Ferreira | Esposa       |      28 |
|  3 |               2 |            104 | Joao Santos     | Marido       |      38 |
|  8 |               5 |            109 | Juliana Costa   | Esposa       |      30 |
| 24 |              20 |            125 | Laura Lima      | Esposa       |      37 |
|  5 |               3 |            106 | Lucas Oliveira  | Filho        |       6 |
| 23 |              19 |            124 | Luciana Almeida | Mãe          |      55 |
| 14 |              10 |            115 | Luiza Oliveira  | Filha        |       9 |
|  7 |               4 |            108 | Marcos Souza    | Filho        |      12 |
| 27 |              25 |            128 | Marcos Waroy    | Filho        |      19 |
| 20 |              16 |            121 | Maria Costa     | Mãe          |      65 |
|  0 |               1 |            101 | Maria Silva     | Esposa       |      35 |
|  9 |               5 |            110 | Mariana Costa   | Filha        |       7 |
| 26 |              24 |            127 | Patrícia Xavier | Filha        |      20 |
|  4 |               3 |            105 | Paula Oliveira  | Esposa       |      32 |
| 22 |              18 |            123 | Pedro Oliveira  | Filho        |      14 |
|  1 |               1 |            102 | Pedro Silva     | Filho        |       8 |
| 12 |               7 |            113 | Rafaela Santos  | Filha        |      15 |
| 25 |              23 |            126 | Ricardo Zobisch | Filho        |      17 |
| 11 |               7 |            112 | Sophia Pereira  | Filha        |       5 |
+----+-----------------+----------------+-----------------+--------------+---------+

In [ ]:
#Ordenado por salário de maneira crescente
df_historicosalario_ordenado = df_historicosalarios.sort_values(by='ValorSalario', ascending=True)
resultado_query(df_historicosalario_ordenado, "Salário em ordem crescente")

Salário em ordem crescente

+-----+---------------------+----------------+-------------+-----------------+
|     | DataSalario         |   ValorSalario |   SalarioID |   FuncionarioID |
|-----+---------------------+----------------+-------------+-----------------|
|  25 | 2024-02-01 00:00:00 |        1035.89 |          26 |               5 |
|  26 | 2024-03-01 00:00:00 |        1070.2  |          27 |               5 |
|  28 | 2024-05-01 00:00:00 |        1200    |          29 |               5 |
|  27 | 2024-04-01 00:00:00 |        1200    |          28 |               5 |
|  29 | 2024-06-01 00:00:00 |        1300    |          30 |               5 |
|  80 | 2024-03-01 00:00:00 |        1480.25 |          81 |              15 |
|  78 | 2024-01-01 00:00:00 |        1500    |          79 |              15 |
|  79 | 2024-02-01 00:00:00 |        1520.5  |          80 |              15 |
|  83 | 2024-06-01 00:00:00 |        1550    |          84 |              15 |
|  82 | 2024-05-01 00:00:00 |        1550    |          83 |              15 |
|  81 | 2024-04-01 00:00:00 |        1550    |          82 |              15 |
|  24 | 2024-01-01 00:00:00 |        1580.25 |          25 |               5 |
| 110 | 2024-03-01 00:00:00 |        1580.25 |         111 |              20 |
| 108 | 2024-01-01 00:00:00 |        1600    |         109 |              20 |
| 109 | 2024-02-01 00:00:00 |        1620.5  |         110 |              20 |
| 111 | 2024-04-01 00:00:00 |        1650    |         112 |              20 |
| 112 | 2024-05-01 00:00:00 |        1675.75 |         113 |              20 |
| 113 | 2024-06-01 00:00:00 |        1675.75 |         114 |              20 |
|  19 | 2024-02-01 00:00:00 |        2035.89 |          20 |               4 |
|  18 | 2024-01-01 00:00:00 |        2580.25 |          19 |               4 |
|  21 | 2024-04-01 00:00:00 |        2600    |          22 |               4 |
|  22 | 2024-05-01 00:00:00 |        2600    |          23 |               4 |
|  23 | 2024-06-01 00:00:00 |        2600    |          24 |               4 |
|  50 | 2024-03-01 00:00:00 |        2650.25 |          51 |               9 |
|  48 | 2024-01-01 00:00:00 |        2700    |          49 |               9 |
|  74 | 2024-03-01 00:00:00 |        2750.25 |          75 |              14 |
|  49 | 2024-02-01 00:00:00 |        2750.5  |          50 |               9 |
|  20 | 2024-03-01 00:00:00 |        2770.2  |          21 |               4 |
|  72 | 2024-01-01 00:00:00 |        2800    |          73 |              14 |
|  51 | 2024-04-01 00:00:00 |        2800    |          52 |               9 |
| 104 | 2024-03-01 00:00:00 |        2850.25 |         105 |              19 |
|  73 | 2024-02-01 00:00:00 |        2850.5  |          74 |              14 |
|  53 | 2024-06-01 00:00:00 |        2850.75 |          54 |               9 |
|  52 | 2024-05-01 00:00:00 |        2850.75 |          53 |               9 |
|  75 | 2024-04-01 00:00:00 |        2900    |          76 |              14 |
| 102 | 2024-01-01 00:00:00 |        2900    |         103 |              19 |
| 103 | 2024-02-01 00:00:00 |        2950.5  |         104 |              19 |
|  77 | 2024-06-01 00:00:00 |        2950.75 |          78 |              14 |
|  76 | 2024-05-01 00:00:00 |        2950.75 |          77 |              14 |
| 105 | 2024-04-01 00:00:00 |        3000    |         106 |              19 |
|   7 | 2024-02-01 00:00:00 |        3035.89 |           8 |               2 |
|  13 | 2024-02-01 00:00:00 |        3035.89 |          14 |               3 |
| 107 | 2024-06-01 00:00:00 |        3050.75 |         108 |              19 |
| 106 | 2024-05-01 00:00:00 |        3050.75 |         107 |              19 |
|   6 | 2024-01-01 00:00:00 |        3500.25 |           7 |               2 |
|  12 | 2024-01-01 00:00:00 |        3500.25 |          13 |               3 |
|  30 | 2024-01-01 00:00:00 |        3580.25 |          31 |               6 |
|  15 | 2024-04-01 00:00:00 |        3600    |          16 |               3 |
|  16 | 2024-05-01 00:00:00 |        3600    |          17 |               3 |
|  17 | 2024-06-01 00:00:00 |        3600    |          18 |               3 |
|  14 | 2024-03-01 00:00:00 |        3600    |          15 |               3 |
|  32 | 2024-03-01 00:00:00 |        3670.2  |          33 |               6 |
|  33 | 2024-04-01 00:00:00 |        3700    |          34 |               6 |
|  10 | 2024-05-01 00:00:00 |        3700    |          11 |               2 |
|  11 | 2024-06-01 00:00:00 |        3700    |          12 |               2 |
|   9 | 2024-04-01 00:00:00 |        3700.2  |          10 |               2 |
|   8 | 2024-03-01 00:00:00 |        3700.2  |           9 |               2 |
|  31 | 2024-02-01 00:00:00 |        3735.89 |          32 |               6 |
|  35 | 2024-06-01 00:00:00 |        3747.05 |          36 |               6 |
|  34 | 2024-05-01 00:00:00 |        3747.05 |          35 |               6 |
|  62 | 2024-03-01 00:00:00 |        3750.25 |          63 |              12 |
|  60 | 2024-01-01 00:00:00 |        3800    |          61 |              12 |
|  61 | 2024-02-01 00:00:00 |        3850.5  |          62 |              12 |
|  63 | 2024-04-01 00:00:00 |        3900    |          64 |              12 |
|  65 | 2024-06-01 00:00:00 |        3950.75 |          66 |              12 |
|  64 | 2024-05-01 00:00:00 |        3950.75 |          65 |              12 |
|  38 | 2024-03-01 00:00:00 |        4075.75 |          39 |               7 |
|  84 | 2024-01-01 00:00:00 |        4100    |          85 |              16 |
|  36 | 2024-01-01 00:00:00 |        4100    |          37 |               7 |
|  37 | 2024-02-01 00:00:00 |        4150.25 |          38 |               7 |
|  85 | 2024-02-01 00:00:00 |        4150.5  |          86 |              16 |
|  86 | 2024-03-01 00:00:00 |        4200    |          87 |              16 |
|  40 | 2024-05-01 00:00:00 |        4200    |          41 |               7 |
|  39 | 2024-04-01 00:00:00 |        4200    |          40 |               7 |
|  41 | 2024-06-01 00:00:00 |        4200    |          42 |               7 |
|  59 | 2024-06-01 00:00:00 |        4250.25 |          60 |              11 |
|  58 | 2024-05-01 00:00:00 |        4250.25 |          59 |              11 |
|  57 | 2024-04-01 00:00:00 |        4250.25 |          58 |              11 |
|  56 | 2024-03-01 00:00:00 |        4250.25 |          57 |              11 |
|  54 | 2024-01-01 00:00:00 |        4300    |          55 |              11 |
|  55 | 2024-02-01 00:00:00 |        4350.5  |          56 |              11 |
|  93 | 2024-04-01 00:00:00 |        4550.25 |          94 |              17 |
|  94 | 2024-05-01 00:00:00 |        4550.25 |          95 |              17 |
|  92 | 2024-03-01 00:00:00 |        4550.25 |          93 |              17 |
|  95 | 2024-06-01 00:00:00 |        4550.25 |          96 |              17 |
|  90 | 2024-01-01 00:00:00 |        4600    |          91 |              17 |
|  91 | 2024-02-01 00:00:00 |        4650.5  |          92 |              17 |
|   3 | 2024-04-01 00:00:00 |        5000    |           4 |               1 |
|  44 | 2024-03-01 00:00:00 |        5450.75 |          45 |               8 |
|  42 | 2024-01-01 00:00:00 |        5500    |          43 |               8 |
|  43 | 2024-02-01 00:00:00 |        5600.25 |          44 |               8 |
|  68 | 2024-03-01 00:00:00 |        5650.25 |          69 |              13 |
|  66 | 2024-01-01 00:00:00 |        5700    |          67 |              13 |
|  45 | 2024-04-01 00:00:00 |        5700    |          46 |               8 |
|  67 | 2024-02-01 00:00:00 |        5750.5  |          68 |              13 |
|   2 | 2024-03-01 00:00:00 |        5760.2  |           3 |               1 |
|   1 | 2024-02-01 00:00:00 |        5780.1  |           2 |               1 |
|   0 | 2024-01-01 00:00:00 |        5780.16 |           1 |               1 |
|  69 | 2024-04-01 00:00:00 |        5800    |          70 |              13 |
|  70 | 2024-05-01 00:00:00 |        5800    |          71 |              13 |
|  71 | 2024-06-01 00:00:00 |        5800    |          72 |              13 |
|  47 | 2024-06-01 00:00:00 |        5800.5  |          48 |               8 |
|  46 | 2024-05-01 00:00:00 |        5800.5  |          47 |               8 |
|  98 | 2024-03-01 00:00:00 |        5950.25 |          99 |              18 |
|  88 | 2024-05-01 00:00:00 |        6000    |          89 |              16 |
|  89 | 2024-06-01 00:00:00 |        6000    |          90 |              16 |
|   4 | 2024-05-01 00:00:00 |        6000    |           5 |               1 |
|  87 | 2024-04-01 00:00:00 |        6000    |          88 |              16 |
|  96 | 2024-01-01 00:00:00 |        6000    |          97 |              18 |
|  97 | 2024-02-01 00:00:00 |        6050.5  |          98 |              18 |
| 101 | 2024-06-01 00:00:00 |        6100    |         102 |              18 |
| 100 | 2024-05-01 00:00:00 |        6100    |         101 |              18 |
|  99 | 2024-04-01 00:00:00 |        6100    |         100 |              18 |
|   5 | 2024-06-01 00:00:00 |        6200    |           6 |               1 |
| 122 | 2024-03-01 00:00:00 |        9900.25 |         123 |              24 |
| 120 | 2024-01-01 00:00:00 |       10000    |         121 |              24 |
| 121 | 2024-02-01 00:00:00 |       10100.5  |         122 |              24 |
| 124 | 2024-05-01 00:00:00 |       10200    |         125 |              24 |
| 123 | 2024-04-01 00:00:00 |       10200    |         124 |              24 |
| 125 | 2024-06-01 00:00:00 |       10200    |         126 |              24 |
| 128 | 2024-03-01 00:00:00 |       27900.2  |         129 |              25 |
| 126 | 2024-01-01 00:00:00 |       28000    |         127 |              25 |
| 127 | 2024-02-01 00:00:00 |       28100.5  |         128 |              25 |
| 129 | 2024-04-01 00:00:00 |       28200    |         130 |              25 |
| 131 | 2024-06-01 00:00:00 |       28200    |         132 |              25 |
| 130 | 2024-05-01 00:00:00 |       28200    |         131 |              25 |
| 116 | 2024-03-01 00:00:00 |       29500.2  |         117 |              23 |
| 114 | 2024-01-01 00:00:00 |       30000    |         115 |              23 |
| 115 | 2024-02-01 00:00:00 |       30500.5  |         116 |              23 |
| 118 | 2024-05-01 00:00:00 |       31000    |         119 |              23 |
| 117 | 2024-04-01 00:00:00 |       31000    |         118 |              23 |
| 119 | 2024-06-01 00:00:00 |       31000    |         120 |              23 |
+-----+---------------------+----------------+-------------+-----------------+

###Consultas

In [ ]:
#Unindo tabelas para a busca de informações
df_func_cargos = pd.merge(df_funcionarios, df_cargos, on='CargoID', how='left')
df_func_cargos_depart = pd.merge(df_func_cargos, df_departamentos, on='DepartamentoID', how='left')
df_func_cargos_depart_dependente = pd.merge(df_func_cargos_depart, df_dependentes, on='FuncionarioID', how='left')

Listagem de funcionários com seus cargos, departamentos e os respectivos dependentes

In [ ]:
#Colunas para exibição
consulta_row = ['NomeFuncionario','Descricao','NomeDepartamento','Dependente', 'Parentesco']
resultado = df_func_cargos_depart_dependente[consulta_row]
resultado = resultado.groupby('NomeFuncionario')

#Exibição da query
for func, grupo in resultado:
    print(f"Funcionário: {func}")
    print(tabulate(grupo, headers='keys', tablefmt='psql'))
    print("\n")

Funcionário: Aline Pereira
+----+-------------------+---------------+--------------------+----------------+--------------+
|    | NomeFuncionario   | Descricao     | NomeDepartamento   | Dependente     | Parentesco   |
|----+-------------------+---------------+--------------------+----------------+--------------|
| 22 | Aline Pereira     | Desenvolvedor | RH                 | Daniel Pereira | Filho        |
+----+-------------------+---------------+--------------------+----------------+--------------+


Funcionário: Ana Souza
+----+-------------------+---------------------------+--------------------+--------------+--------------+
|    | NomeFuncionario   | Descricao                 | NomeDepartamento   | Dependente   | Parentesco   |
|----+-------------------+---------------------------+--------------------+--------------+--------------|
|  6 | Ana Souza         | Assistente administrativo | Financeiro         | Carla Souza  | Esposa       |
|  7 | Ana Souza         | Assistente administrativo | Financeiro         | Marcos Souza | Filho        |
+----+-------------------+---------------------------+--------------------+--------------+--------------+


Funcionário: Anderson Silva
+----+-------------------+---------------------------+--------------------+--------------+--------------+
|    | NomeFuncionario   | Descricao                 | NomeDepartamento   | Dependente   | Parentesco   |
|----+-------------------+---------------------------+--------------------+--------------+--------------|
| 19 | Anderson Silva    | Assistente administrativo | Financeiro         | Ana Silva    | Esposa       |
+----+-------------------+---------------------------+--------------------+--------------+--------------+


Funcionário: Caio Waroy
+----+-------------------+-------------------+--------------------+--------------+--------------+
|    | NomeFuncionario   | Descricao         | NomeDepartamento   | Dependente   | Parentesco   |
|----+-------------------+-------------------+--------------------+--------------+--------------|
| 28 | Caio Waroy        | Diretor executivo | Diretoria          | Marcos Waroy | Filho        |
+----+-------------------+-------------------+--------------------+--------------+--------------+


Funcionário: Camila Oliveira
+----+-------------------+-------------+--------------------+----------------+--------------+
|    | NomeFuncionario   | Descricao   | NomeDepartamento   | Dependente     | Parentesco   |
|----+-------------------+-------------+--------------------+----------------+--------------|
| 15 | Camila Oliveira   | Estagiario  | TI                 | Luiza Oliveira | Filha        |
+----+-------------------+-------------+--------------------+----------------+--------------+


Funcionário: Carlos Oliveira
+----+-------------------+---------------------------+--------------------+----------------+--------------+
|    | NomeFuncionario   | Descricao                 | NomeDepartamento   | Dependente     | Parentesco   |
|----+-------------------+---------------------------+--------------------+----------------+--------------|
|  4 | Carlos Oliveira   | Assistente administrativo | Marketing          | Paula Oliveira | Esposa       |
|  5 | Carlos Oliveira   | Assistente administrativo | Marketing          | Lucas Oliveira | Filho        |
+----+-------------------+---------------------------+--------------------+----------------+--------------+


Funcionário: Carolina Almeida
+----+-------------------+---------------------------+--------------------+-----------------+--------------+
|    | NomeFuncionario   | Descricao                 | NomeDepartamento   | Dependente      | Parentesco   |
|----+-------------------+---------------------------+--------------------+-----------------+--------------|
| 24 | Carolina Almeida  | Assistente administrativo | Financeiro         | Luciana Almeida | Mãe          |
+----+-------------------+---------------------------+--------------------+-----------------+--------------+


Funcionário: Clarisse Xavier
+----+-------------------+---------------------------+--------------------+-----------------+--------------+
|    | NomeFuncionario   | Descricao                 | NomeDepartamento   | Dependente      | Parentesco   |
|----+-------------------+---------------------------+--------------------+-----------------+--------------|
| 27 | Clarisse Xavier   | Assistente administrativo | Diretoria          | Patrícia Xavier | Filha        |
+----+-------------------+---------------------------+--------------------+-----------------+--------------+


Funcionário: Eduardo Zobisch
+----+-------------------+-------------------+--------------------+-----------------+--------------+
|    | NomeFuncionario   | Descricao         | NomeDepartamento   | Dependente      | Parentesco   |
|----+-------------------+-------------------+--------------------+-----------------+--------------|
| 26 | Eduardo Zobisch   | Diretor executivo | Diretoria          | Ricardo Zobisch | Filho        |
+----+-------------------+-------------------+--------------------+-----------------+--------------+


Funcionário: Fernanda Lima
+----+-------------------+---------------+--------------------+--------------+--------------+
|    | NomeFuncionario   | Descricao     | NomeDepartamento   | Dependente   | Parentesco   |
|----+-------------------+---------------+--------------------+--------------+--------------|
| 10 | Fernanda Lima     | Desenvolvedor | Vendas             | Gabriel Lima | Marido       |
+----+-------------------+---------------+--------------------+--------------+--------------+


Funcionário: Gustavo Lima
+----+-------------------+-------------+--------------------+--------------+--------------+
|    | NomeFuncionario   | Descricao   | NomeDepartamento   | Dependente   | Parentesco   |
|----+-------------------+-------------+--------------------+--------------+--------------|
| 25 | Gustavo Lima      | Estagiario  | TI                 | Laura Lima   | Esposa       |
+----+-------------------+-------------+--------------------+--------------+--------------+


Funcionário: Isabela Ferreira
+----+-------------------+-------------+--------------------+-----------------+--------------+
|    | NomeFuncionario   | Descricao   | NomeDepartamento   | Dependente      | Parentesco   |
|----+-------------------+-------------+--------------------+-----------------+--------------|
| 20 | Isabela Ferreira  | Estagiario  | TI                 | Isabel Ferreira | Esposa       |
+----+-------------------+-------------+--------------------+-----------------+--------------+


Funcionário: Joao Silva
+----+-------------------+-------------+--------------------+--------------+--------------+
|    | NomeFuncionario   | Descricao   | NomeDepartamento   | Dependente   | Parentesco   |
|----+-------------------+-------------+--------------------+--------------+--------------|
|  0 | Joao Silva        | Gerente     | TI                 | Maria Silva  | Esposa       |
|  1 | Joao Silva        | Gerente     | TI                 | Pedro Silva  | Filho        |
+----+-------------------+-------------+--------------------+--------------+--------------+


Funcionário: Juliana Santos
+----+-------------------+-------------+--------------------+--------------+--------------+
|    | NomeFuncionario   | Descricao   | NomeDepartamento   |   Dependente |   Parentesco |
|----+-------------------+-------------+--------------------+--------------+--------------|
| 13 | Juliana Santos    | Gerente     | RH                 |          nan |          nan |
+----+-------------------+-------------+--------------------+--------------+--------------+


Funcionário: Lucas Pereira
+----+-------------------+-------------------+--------------------+----------------+--------------+
|    | NomeFuncionario   | Descricao         | NomeDepartamento   | Dependente     | Parentesco   |
|----+-------------------+-------------------+--------------------+----------------+--------------|
| 11 | Lucas Pereira     | Analista de dados | RH                 | Sophia Pereira | Filha        |
| 12 | Lucas Pereira     | Analista de dados | RH                 | Rafaela Santos | Filha        |
+----+-------------------+-------------------+--------------------+----------------+--------------+


Funcionário: Maria Santos
+----+-------------------+---------------+--------------------+--------------+--------------+
|    | NomeFuncionario   | Descricao     | NomeDepartamento   | Dependente   | Parentesco   |
|----+-------------------+---------------+--------------------+--------------+--------------|
|  2 | Maria Santos      | Desenvolvedor | RH                 | Ana Santos   | Filha        |
|  3 | Maria Santos      | Desenvolvedor | RH                 | Joao Santos  | Marido       |
+----+-------------------+---------------+--------------------+--------------+--------------+


Funcionário: Mariana Oliveira
+----+-------------------+-------------------+--------------------+----------------+--------------+
|    | NomeFuncionario   | Descricao         | NomeDepartamento   | Dependente     | Parentesco   |
|----+-------------------+-------------------+--------------------+----------------+--------------|
| 16 | Mariana Oliveira  | Analista de dados | Marketing          | Diego Oliveira | Pai          |
+----+-------------------+-------------------+--------------------+----------------+--------------+


Funcionário: Patricia Souza
+----+-------------------+-------------+--------------------+-----------------+--------------+
|    | NomeFuncionario   | Descricao   | NomeDepartamento   | Dependente      | Parentesco   |
|----+-------------------+-------------+--------------------+-----------------+--------------|
| 18 | Patricia Souza    | Gerente     | Marketing          | Guilherme Souza | Filho        |
+----+-------------------+-------------+--------------------+-----------------+--------------+


Funcionário: Paulo Costa
+----+-------------------+-------------------+--------------------+--------------+--------------+
|    | NomeFuncionario   | Descricao         | NomeDepartamento   | Dependente   | Parentesco   |
|----+-------------------+-------------------+--------------------+--------------+--------------|
| 21 | Paulo Costa       | Analista de dados | Vendas             | Maria Costa  | Mãe          |
+----+-------------------+-------------------+--------------------+--------------+--------------+


Funcionário: Pedro Costa
+----+-------------------+-------------+--------------------+---------------+--------------+
|    | NomeFuncionario   | Descricao   | NomeDepartamento   | Dependente    | Parentesco   |
|----+-------------------+-------------+--------------------+---------------+--------------|
|  8 | Pedro Costa       | Estagiario  | TI                 | Juliana Costa | Esposa       |
|  9 | Pedro Costa       | Estagiario  | TI                 | Mariana Costa | Filha        |
+----+-------------------+-------------+--------------------+---------------+--------------+


Funcionário: Rafael Santos
+----+-------------------+---------------+--------------------+---------------+--------------+
|    | NomeFuncionario   | Descricao     | NomeDepartamento   | Dependente    | Parentesco   |
|----+-------------------+---------------+--------------------+---------------+--------------|
| 17 | Rafael Santos     | Desenvolvedor | Vendas             | Camila Santos | Filha        |
+----+-------------------+---------------+--------------------+---------------+--------------+


Funcionário: Roberto Almeida
+----+-------------------+---------------------------+--------------------+-----------------+--------------+
|    | NomeFuncionario   | Descricao                 | NomeDepartamento   | Dependente      | Parentesco   |
|----+-------------------+---------------------------+--------------------+-----------------+--------------|
| 14 | Roberto Almeida   | Assistente administrativo | Financeiro         | Antonio Almeida | Pai          |
+----+-------------------+---------------------------+--------------------+-----------------+--------------+


Funcionário: Thiago Oliveira
+----+-------------------+-------------+--------------------+----------------+--------------+
|    | NomeFuncionario   | Descricao   | NomeDepartamento   | Dependente     | Parentesco   |
|----+-------------------+-------------+--------------------+----------------+--------------|
| 23 | Thiago Oliveira   | Gerente     | Financeiro         | Pedro Oliveira | Filho        |
+----+-------------------+-------------+--------------------+----------------+--------------+

Listar os funcionários que tiveram aumento salarial nos últimos 3 meses.

In [ ]:
#Concatenando tabela de salarios
df_historico_funcionario = pd.merge(df_funcionarios, df_historicosalarios, on='FuncionarioID', how='left')

#Recebendo data atual
data_atual = datetime.strptime('2024/06/01','%Y/%m/%d')
tres_meses = data_atual - timedelta(days=90)

#Separando salário dos últimos 3 meses
df_ultimos_salarios = df_historico_funcionario[df_historico_funcionario['DataSalario'] >= tres_meses]

#Aumento salarial
funcionarios_aumento = []

#verificando se valores estão aumentando ou continuando os mesmos
for func_id, grupo in df_ultimos_salarios.groupby('FuncionarioID'):
  if grupo['ValorSalario'].iloc[-1] > grupo['ValorSalario'].iloc[0]:
    funcionarios_aumento.append(func_id)

#Dataframe com funcionários que tiveram aumento de salário
df_funcionarios_com_aumento = df_funcionarios[df_funcionarios['FuncionarioID'].isin(funcionarios_aumento)]

#Colunas para exibição
consulta_dois_row = ['FuncionarioID', 'NomeFuncionario', 'Salario']
resultado = df_funcionarios_com_aumento[consulta_dois_row]

resultado_query(resultado, "Funcionários que tiveram aumento salarial nos últimos 3 meses:")

Funcionários que tiveram aumento salarial nos últimos 3 meses:

+----+-----------------+-------------------+-----------+
|    |   FuncionarioID | NomeFuncionario   |   Salario |
|----+-----------------+-------------------+-----------|
|  0 |               1 | Joao Silva        |      6000 |
|  4 |               5 | Pedro Costa       |      1300 |
|  5 |               6 | Fernanda Lima     |      3700 |
|  7 |               8 | Juliana Santos    |      5500 |
|  8 |               9 | Roberto Almeida   |      2700 |
| 11 |              12 | Rafael Santos     |      3800 |
| 13 |              14 | Anderson Silva    |      2800 |
| 18 |              19 | Carolina Almeida  |      2900 |
| 19 |              20 | Gustavo Lima      |      1600 |
+----+-----------------+-------------------+-----------+

Listar média de idade dos filhos dos funcionários do departamento

In [ ]:
#Concatenação de tabelas
df_filhos_funcionarios = pd.merge(df_funcionarios, df_dependentes, on='FuncionarioID', how='left')

#Seleção apenas dos filhos
df_filhos = df_filhos_funcionarios[(df_filhos_funcionarios['Parentesco'] == "Filho") | (df_filhos_funcionarios['Parentesco']== "Filha")]

#Média das idades
media_idade_filhos = df_filhos["Idade"].mean()

#Seleção de colunas para exibição de dataframe
colunas_consulta = ['NomeFuncionario', 'Dependente', 'Parentesco', 'Idade']
df_filhos = df_filhos[colunas_consulta]

#Resultados
resultado_query(df_filhos, "Mapeamento filhos funcionarios")
print(f"Média de idade dos filhos dos funcionários: {media_idade_filhos:.2f}")

Mapeamento filhos funcionarios

+----+-------------------+-----------------+--------------+---------+
|    | NomeFuncionario   | Dependente      | Parentesco   |   Idade |
|----+-------------------+-----------------+--------------+---------|
|  1 | Joao Silva        | Pedro Silva     | Filho        |       8 |
|  2 | Maria Santos      | Ana Santos      | Filha        |      10 |
|  5 | Carlos Oliveira   | Lucas Oliveira  | Filho        |       6 |
|  7 | Ana Souza         | Marcos Souza    | Filho        |      12 |
|  9 | Pedro Costa       | Mariana Costa   | Filha        |       7 |
| 11 | Lucas Pereira     | Sophia Pereira  | Filha        |       5 |
| 12 | Lucas Pereira     | Rafaela Santos  | Filha        |      15 |
| 15 | Camila Oliveira   | Luiza Oliveira  | Filha        |       9 |
| 17 | Rafael Santos     | Camila Santos   | Filha        |      16 |
| 18 | Patricia Souza    | Guilherme Souza | Filho        |      13 |
| 22 | Aline Pereira     | Daniel Pereira  | Filho        |      11 |
| 23 | Thiago Oliveira   | Pedro Oliveira  | Filho        |      14 |
| 26 | Eduardo Zobisch   | Ricardo Zobisch | Filho        |      17 |
| 27 | Clarisse Xavier   | Patrícia Xavier | Filha        |      20 |
| 28 | Caio Waroy        | Marcos Waroy    | Filho        |      19 |
+----+-------------------+-----------------+--------------+---------+


Média de idade dos filhos dos funcionários: 12.13

Listar qual estagiário tem filho

In [ ]:
#Seleção apenas dos filhos
df_filhos = df_filhos_funcionarios[(df_filhos_funcionarios['CargoID'] == 5) & (df_filhos_funcionarios['Parentesco']== "Filha")]

#Seleção de colunas para exibição de dataframe
colunas_consulta = ['NomeFuncionario','CargoID', 'Dependente', 'Parentesco', 'Idade']
df_filhos = df_filhos[colunas_consulta]

#Resultados
resultado_query(df_filhos, "Mapeamento filhos estagiários")

Mapeamento filhos estagiários

+----+-------------------+-----------+----------------+--------------+---------+
|    | NomeFuncionario   |   CargoID | Dependente     | Parentesco   |   Idade |
|----+-------------------+-----------+----------------+--------------+---------|
|  9 | Pedro Costa       |         5 | Mariana Costa  | Filha        |       7 |
| 15 | Camila Oliveira   |         5 | Luiza Oliveira | Filha        |       9 |
+----+-------------------+-----------+----------------+--------------+---------+

Listar qual funcionário teve a média salarial mais alta

In [ ]:
# Selecionar as colunas para exibição
colunas_exibicao = ['ValorSalario', 'FuncionarioID']
df_historicosalarios = df_historicosalarios[colunas_exibicao]
# Agrupar por FuncionarioID
df_agrupado = df_historicosalarios.groupby('FuncionarioID').mean('ValorSalario')
df_agrupado = df_agrupado.round(2)
# Exibir resultado
df_agrupado = df_agrupado.rename(columns={'ValorSalario': 'MediaSalarial'})
print(df_agrupado)

               MediaSalarial
FuncionarioID
1                    5753.41
2                    3556.09
3                    3489.36
4                    2531.06
5                    1231.06
6                    3696.74
7                    4154.33
8                    5642.00
9                    2767.04
11                   4275.25
12                   3867.04
13                   5750.12
14                   2867.04
15                   1525.12
16                   5075.08
17                   4575.25
18                   6050.12
19                   2967.04
20                   1633.71
23                  30500.12
24                  10100.12
25                  28100.12

Listar o analista que possui duas filhas

In [ ]:
#Seleção apenas dos filhos
df_filhos = df_filhos_funcionarios[(df_filhos_funcionarios['CargoID'] == 3) & (df_filhos_funcionarios['Parentesco']== "Filha")]

#Seleção de colunas para exibição de dataframe
colunas_consulta = ['NomeFuncionario','CargoID', 'Dependente', 'Parentesco', 'Idade']
df_filhos = df_filhos[colunas_consulta]

#Resultados
resultado_query(df_filhos, "Mapeamento filhas analista")

Mapeamento filhas analista

+----+-------------------+-----------+----------------+--------------+---------+
|    | NomeFuncionario   |   CargoID | Dependente     | Parentesco   |   Idade |
|----+-------------------+-----------+----------------+--------------+---------|
| 11 | Lucas Pereira     |         3 | Sophia Pereira | Filha        |       5 |
| 12 | Lucas Pereira     |         3 | Rafaela Santos | Filha        |      15 |
+----+-------------------+-----------+----------------+--------------+---------+

Listar o analista que tem o salário mais alto e que ganha entre 5000 e 9000

In [ ]:
#Listando apenas os analistas com salário entre 5000 e 9000
df_analistas = df_funcionarios[(df_funcionarios['CargoID'] == 3) & ((df_funcionarios['Salario'] > 5000) & (df_funcionarios['Salario'] < 9000))]

#Exibindo resultados
row_exibicao = ['NomeFuncionario', 'Salario', 'TempoEmpresa','DepartamentoID']
df_analistas = df_analistas[row_exibicao]

resultado_query(df_analistas, "Analistas com salário entre 5000 e 9000")

Analistas com salário entre 5000 e 9000

+----+-------------------+-----------+----------------+------------------+
|    | NomeFuncionario   |   Salario |   TempoEmpresa |   DepartamentoID |
|----+-------------------+-----------+----------------+------------------|
| 15 | Paulo Costa       |      6000 |              2 |                5 |
+----+-------------------+-----------+----------------+------------------+

Listar o departamento com maior número de dependentes

In [ ]:
#Concatenando dfs
df_depar_func = pd.merge(df_funcionarios, df_departamentos, on='DepartamentoID', how='left')
df_depar_depen = pd.merge(df_depar_func, df_dependentes, on='FuncionarioID', how='left')

#Dividir por departamento
df_agrupado_departamento = df_depar_depen.groupby('DepartamentoID')['Dependente'].count().reset_index()

#Indicação do departamento com maior número de dependentes
df_depen_depar_max = df_agrupado_departamento.max()

#Resultado
print(df_depen_depar_max)

DepartamentoID    6
Dependente        7
dtype: int64

Listar a média de salário por departamento

In [ ]:
#Dividir por departamento e calcular média salarial
df_salario_depar = df_depar_func.groupby('DepartamentoID')['Salario'].mean().reset_index()
df_salario_depar['Salario'] = df_salario_depar['Salario'].round(2)

#Departamento com maior média salarial
df_depar_sal_max = df_salario_depar.max()

#Resultado
print(df_depar_sal_max)

DepartamentoID        6.00
Salario           22666.67
dtype: float64